@import './preflight.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/koenig-lexical';
@import './components/kg-prose';
@import './components/simplemde';
@import './components/react-colorful';

/* Global Koenig content styles
/* -------------------------------------------------------------------- */

/* TODO: will these clash with consuming apps? */
:root {
    --white: #FFF;

    --grey-50: #FAFAFB;
    --grey-100: #F4F5F6;
    --grey-200: #EBEEF0;
    --grey-300: #DDE1E5;
    --grey-400: #CED4D9;
    --grey-500: #AEB7C1;
    --grey-600: #95A1AD;
    --grey-700: #7C8B9A;
    --grey-800: #626D79;
    --grey-900: #394047;

    --black: #15171A;

    --green: #30CF43;

    --kg-breakout-adjustment: 0px;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url("./assets/fonts/Inter.ttf") format("truetype-variations");
    font-weight: 100 900;
}
