@import "./preflight.css";

@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './components/koenig-lexical';
@import './components/kg-prose';

@import 'tailwindcss/utilities';

 /* Global Koenig content styles
/* -------------------------------------------------------------------- */

/* TODO: will these clash with consuming apps? */
:root {
    --grey-100: #F4F5F6;
    --grey-200: #EBEEF0;
    --grey-300: #DDE1E5;
    --grey-500: #AEB7C1;
    --grey-900: #394047;
    --black: #15171A;
    
    --kg-breakout-adjustment: 0px;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url("./assets/fonts/Inter.ttf") format("truetype-variations");
    font-weight: 100 900;
}
