:root {
    font-size: 62.5%;
    line-height: 1.65;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    color-scheme: light;
    --grey-200: #EBEEF0;
    --grey-300: #DDE1E5;
    --grey-500: #AEB7C1;
    --grey-900: #394047;
    --black: #15171A;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.koenig-lexical.top {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.koenig-lexical.top {
    display: flex;
}

.w-tc-editor textarea {
    overflow: auto;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url("./assets/fonts/Inter.ttf") format("truetype-variations");
    font-weight: 100 900;
}

@media (prefers-color-scheme: light) {
    .w-tc-editor {
        --color-fg-default: #c9d1d9;
        --color-canvas-subtle: #161b22;
        --color-prettylights-syntax-comment: #8b949e;
        --color-prettylights-syntax-entity-tag: #7ee787;
        --color-prettylights-syntax-entity: #d2a8ff;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #606a76;
        --color-prettylights-syntax-constant: #79c0ff;
        --color-prettylights-syntax-string: #a5d6ff;
        --color-prettylights-syntax-keyword: #ff7b72;
        --color-prettylights-syntax-markup-bold: #c9d1d9;
    }
}

@media (prefers-color-scheme: dark) {
    .w-tc-editor {
        --color-prettylights-syntax-sublimelinter-gutter-mark: #606a76;
    }
}