html {
    font-size: 62.5%;
    line-height: 1.65;
    letter-spacing: 0.01em;
}

.demo-container {
    display: flex;
    flex-direction: row;
}

.demo-editor {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 67.2rem;
}

.demo-tree {
    max-width: 20%;
    margin-top: 2rem;
}
