name: Deploy

on:
  push:
    branches: ["main", "lexical-demo"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@master
        with:
          ref: ${{ github.sha }}
          check-name: 'Test'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
          
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        uses: borales/actions-yarn@v3.0.0

      - name: Copy CNAME to build
        run: mkdir ./packages/koenig-lexical/public && cp ./.github/workflows/CNAME ./packages/koenig-lexical/public/CNAME

      - name: Build project
        run: cd ./packages/koenig-lexical && yarn && yarn build:demo

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v2
        with:
          name: production-files
          path: ./packages/koenig-lexical/dist

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write

    steps:
      
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: production-files
          path: ./packages/koenig-lexical/dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/koenig-lexical/dist
