name: Test
on:
  pull_request:
  push:
    branches:
      - main
      - 'renovate/*'
jobs:
  test:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/'))
    strategy:
      matrix:
        node: [ '14.18.0', '16.13.0', '18.12.1' ]
    env:
      FORCE_COLOR: 1
      # https://github.com/vitejs/vite/issues/2433
      NODE_OPTIONS: '--max_old_space_size=8192'
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        env:
          FORCE_COLOR: 0
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Install required fonts for consistent tests
        env:
          DEBIAN_FRONTEND: noninteractive
          DEBCONF_NONINTERACTIVE_SEEN: "true"
        run: |
          sudo apt-get update -yq
          sudo sh -c "echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections"
          sudo apt-get install msttcorefonts -qq

      - name: "Check if repository is a Lerna monorepo"
        id: check_files
        uses: andstor/file-existence-action@20b4d2e596410855db8f9ca21e96fbe18e12930b
        with:
          files: "lerna.json"

      - run: yarn global add lerna@^4
        if: steps.check_files.outputs.files_exists == 'true'

      - run: yarn

      - name: Install Playwright
        run: npx playwright install --with-deps

      - run: yarn test

      - uses: codecov/codecov-action@v3

      - uses: daniellockyer/action-slack-build@master
        if: failure() && github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

